<div class="container py-5">
  <div class="row align-items-center">
    <div class="col-md-4 text-center">
      <img src="assets/Perfil.jpeg" alt="Lucas Cordó" class="profile-img" />
    </div>
    <div class="col-md-8 text-md-start text-center">
      <h2 class="fw-bold mb-4">Perfil Profesional</h2>
      <p class="fs-5">
        Formo parte del
        <strong>Departamento de Arquitectura de Sistemas</strong>, donde me
        especializo en la creación e implementación de
        <strong>templates arquitectónicos</strong> y la definición de estándares
        técnicos como <strong>OAuth2</strong>.
      </p>
      <p class="fs-5">
        Mi enfoque combina el análisis funcional con la ejecución técnica:
        lidero procesos de <strong>migración de sistemas</strong>, aseguro la
        escalabilidad mediante documentación técnica exhaustiva y desarrollo
        soluciones geoespaciales avanzadas utilizando <strong>OpenLayers</strong>.
      </p>
    </div>
  </div>
</div>
