<nav class="navbar navbar-expand-lg fixed-top custom-navbar shadow-sm">
  <div class="container-fluid px-lg-5">
    <a class="navbar-brand fw-bold d-flex align-items-center" href="#"> Lucas Cordó </a>

    <button #toggler
      class="navbar-toggler border-0 shadow-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="bi bi-list fs-1 text-white"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home" (click)="toggler.getAttribute('aria-expanded') === 'true' ? toggler.click() : null">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about" (click)="toggler.getAttribute('aria-expanded') === 'true' ? toggler.click() : null">Sobre mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects" (click)="toggler.getAttribute('aria-expanded') === 'true' ? toggler.click() : null">Proyectos</a>
        </li>
        <li class="nav-item contact-btn ms-lg-4">
          <a class="nav-link" href="#contact" (click)="toggler.getAttribute('aria-expanded') === 'true' ? toggler.click() : null">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>