#home {
  background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
}

.wave {
  display: inline-block;
  animation: wave 2s infinite;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60%, 100% { transform: rotate(0deg); }
}


#home {
  min-height: 100vh; /* ocupa toda la pantalla */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home h1 {
  font-size: 3rem;
}

#home p {
  font-size: 1.25rem;
  color: #6c757d;
}
