<div id="home-content" class="text-center px-3">
  <span
    class="badge-expertise mb-3 d-inline-block"
    style="font-size: 0.7rem; letter-spacing: 2px"
  >
    ARQUITECTURA DE SOLUCIONES & ANÁLISIS FUNCIONAL
  </span>

  <h1 class="display-3 fw-bold text-white mb-2">
    Lucas Cordó
    <span class="wave"
      ><i class="bi bi-diagram-3" style="color: #38bdf8"></i
    ></span>
  </h1>

  <p class="lead fs-3 fw-light text-light opacity-75 mb-4">
    Puente entre la
    <span style="color: #38bdf8; font-weight: 500">visión de negocio</span> y la
    arquitectura técnica
  </p>

  <p
    class="fs-5 text-light mx-auto mb-5"
    style="max-width: 750px; line-height: 1.6"
  >
    Analizo procesos y diseño ecosistemas digitales centrados en la
    modernización de frameworks, seguridad mediante OAuth2 y la explotación
    estratégica de datos.
  </p>

  <div class="d-flex flex-wrap justify-content-center gap-3 mt-4">
    <a
      href="#about"
      class="btn btn-outline-light btn-lg rounded-pill px-5 py-2 fs-6 transition-all"
    >
      Conocé mi perfil
    </a>
    <a
      href="#projects"
      class="btn btn-primary-custom btn-lg rounded-pill px-5 py-2 fs-6 transition-all"
      style="
        background: #38bdf8;
        border: none;
        color: #020617;
        font-weight: 600;
      "
    >
      Ver Proyectos
    </a>
  </div>
</div>
