#home {
  background: linear-gradient(135deg, var(--color-bg-light) 0%, #e9ecef 100%);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

#home h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

#home p.lead {
  font-size: 1.5rem;
  font-weight: 500;
}

/* 💫 Animación del Icono */
.wave {
  display: inline-block;
  animation: wave-animation 2.5s infinite;
  transform-origin: 70% 70%; /* Eje de rotación para que parezca un saludo */
  margin-left: 10px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Responsivo para celulares */
@media (max-width: 768px) {
  #home h1 {
    font-size: 2.5rem;
  }
  #home p.lead {
    font-size: 1.2rem;
  }
}

#home-content  {
  color: var(--color-white);
}
.btn {
  background-color:var(--color-white);
}

.btn:hover {
  background-color: var(--color-primary);
}