<div class="projects-container container py-5">
  <!-- GIS -->

  <div id="carouselGIS" class="carousel carousel-fade py-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div
        *ngFor="let proyecto of gis; let i = index"
        class="carousel-item"
        [class.active]="i === 0"
      >
        <div class="row h-100 align-items-stretch">
          <div class="col-lg-7">
            <div class="screen-frame">
              <img [src]="proyecto.imagen" alt="img" />
            </div>
          </div>

          <div class="col-lg-5">
            <div class="glass-card p-4">
              <h4>{{ proyecto.titulo }}</h4>
              <p>{{ proyecto.descripcion }}</p>

              <div>
                <span class="tech-tag" *ngFor="let tag of proyecto.tags">
                  {{ tag }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev custom-arrow"
      type="button"
      data-bs-target="#carouselGIS"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>

    <button
      class="carousel-control-next custom-arrow"
      type="button"
      data-bs-target="#carouselGIS"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <!-- Arquitectura -->

  <div id="carouselArch" class="carousel carousel-fade py-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div
        *ngFor="let proyecto of arquitectura; let i = index"
        class="carousel-item"
        [class.active]="i === 0"
      >
        <div class="row h-100 align-items-stretch">
          <div class="col-lg-7">
            <div class="screen-frame">
              <img [src]="proyecto.imagen" alt="img" />
            </div>
          </div>

          <div class="col-lg-5">
            <div class="glass-card p-4">
              <h4>{{ proyecto.titulo }}</h4>
              <p>{{ proyecto.descripcion }}</p>

              <div>
                <span class="tech-tag" *ngFor="let tag of proyecto.tags">
                  {{ tag }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev custom-arrow"
      type="button"
      data-bs-target="#carouselArch"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>

    <button
      class="carousel-control-next custom-arrow"
      type="button"
      data-bs-target="#carouselArch"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>