<div class="container text-center py-5" id="stack">
  <h2 class="fw-bold text-secondary mb-5">Stack Tecnológico</h2>

  <div class="carousel-wrapper position-relative" 
       (mouseenter)="stopAutoScroll()" 
       (mouseleave)="startAutoScroll()">
    
    <button class="btn-nav left" (click)="scroll('left')">
      <i class="bi bi-chevron-left"></i>
    </button>

    <div class="skills-carousel-container" #carousel (scroll)="onScroll()">
      <div class="skills-track">
        <div class="skill-item" *ngFor="let skill of skills">
          <div class="skill-square">
            <i [class]="skill.icon + ' skill-icon'"></i>
            <h6 class="fw-bold">{{ skill.name }}</h6>
          </div>
        </div>
        <div class="skill-item" *ngFor="let skill of skills">
          <div class="skill-square">
            <i [class]="skill.icon + ' skill-icon'"></i>
            <h6 class="fw-bold">{{ skill.name }}</h6>
          </div>
        </div>
      </div>
    </div>

    <button class="btn-nav right" (click)="scroll('right')">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</div>